environment:
  matrix:
    - job_name: x86
      platform: x86
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    - job_name: x64
      platform: x64
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      job_depends_on: x86

build_script:
  - ps: |
      $headers = @{ "Authorization" = "Bearer $Env:BearerToken"; "Content-type" = "application/json" }
      $project = Invoke-RestMethod -Method Get -Uri "$Env:APPVEYOR_URL/api/projects/$Env:APPVEYOR_ACCOUNT_NAME/$Env:APPVEYOR_PROJECT_SLUG" -Headers $headers
      New-Item ".\pkg\out" -ItemType Directory
      for ($i = 0; ($i -lt $project.build.jobs.length) -and ($Env:APPVEYOR_JOB_ID -ne $project.build.jobs[$i].jobId); $i++) {
        Write-host "Probing job $i for artifact pkglist.ini"
        $jobId = $project.build.jobs[$i].jobId
        try {
          Invoke-RestMethod -ErrorAction Continue -Method Get -Uri "https://ci.appveyor.com/api/buildjobs/$jobId/artifacts/pkg%2Fout%2Fpkglist.ini" -OutFile ".\pkg\out\pkglist.ini" -Headers $headers
        } catch { }
      }
  - if %PLATFORM:X=x%==x86 call "%VS100COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM:X=x%
  - if %PLATFORM:X=x%==x64 call "%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM:X=x% 8.1
  - C:/msys64/usr/bin/wget -nv -O %WINDIR%\oscdimg.exe "https://github.com/ChrisTitusTech/winutil/raw/refs/heads/main/releases/oscdimg.exe"
  - C:/msys64/usr/bin/wget -nv -O %WINDIR%\bsdtar.exe "https://github.com/aspect-build/bsdtar-prebuilt/releases/download/v3.8.1-fix.1/tar_windows_x86_64.exe"
  - C:/msys64/usr/bin/wget -nv -O %TEMP%\perc-bin.zip "https://github.com/avih/perc/releases/download/v0.1/perc.v0.1.zip"
  - C:/msys64/usr/bin/wget -nv -O %TEMP%\yori-bin.zip "https://github.com/malxau/yori/files/15286801/yori-bin--2024-05-02-g106a280-msvc2015.zip"
  - bsdtar -xf %TEMP%\perc-bin.zip --strip-components=1 -C %WINDIR% *%PLATFORM:~-2%/perc.exe
  - bsdtar -xf %TEMP%\yori-bin.zip --strip-components=2 -C %WINDIR% */amd64/oneyori.exe */amd64/ymake.exe */amd64/ypm.exe
  - for /f %%v in ('git describe') do set VERSION=%%v
  - for /f "tokens=2 delims=-" %%b in ('git describe') do set BUILDID=%%b
  - 'echo builtin alias -s ver=for x in ("Fork: github.com/%APPVEYOR_REPO_NAME%" "Fork version: %VERSION%" "Upstream: github.com/malxau/yori" .) do if builtin strcmp -- "x==." ; builtin ver $*$ ; builtin echo -- x >> sh\YoriInit.d\Typical.ys1'
  - cd "%APPVEYOR_BUILD_FOLDER%\pkg"
  - oneyori.exe /c bld.ys1 "%BUILDID%" "%VERSION%-%APPVEYOR_REPO_BRANCH%"
  - for /d %%d in (out\*) do copy %%d\ysetup.exe "%APPVEYOR_BUILD_FOLDER%\ysetup-%PLATFORM:X=x%.exe"
  - for /d %%d in (out\*) do copy %%d\ysetup.exe "%APPVEYOR_BUILD_FOLDER%\ysetup-%VERSION%-%PLATFORM:X=x%.exe"
  - copy out\yori-*.cab "%APPVEYOR_BUILD_FOLDER%"
  - del out\yori-*-dbg-*.cab out\yori-one-*.cab out\yori-modular-*.cab
  - for %%x in (out\*.ini out\*.cab) do perc.exe -a %%x -t 10 -i @%%~nxx "%APPVEYOR_BUILD_FOLDER%\ysetup-%VERSION%-%PLATFORM:X=x%.exe"
  - for /d %%d in (out\*) do copy /y "%APPVEYOR_BUILD_FOLDER%\ysetup-%VERSION%-%PLATFORM:X=x%.exe" %%d\ysetup.exe
  - for /d %%d in (out\*) do oscdimg %%d "%APPVEYOR_BUILD_FOLDER%\ysetup-%VERSION%-%PLATFORM:X=x%.iso"

test_script:
  - type "%APPVEYOR_BUILD_FOLDER%\test\yoritest.xml"
  - ps: |
      $wc = New-Object 'System.Net.WebClient'
      $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($Env:APPVEYOR_JOB_ID)", "$Env:APPVEYOR_BUILD_FOLDER\test\yoritest.xml")
  - bsdtar -xf "%APPVEYOR_BUILD_FOLDER%\yori-extra-win32.cab" -C %WINDIR% ystrcmp.exe
  - C:/msys64/usr/bin/wget -nv -O "%APPVEYOR_BUILD_FOLDER%\test\testinput1" https://github.com/PCRE2Project/pcre2/raw/refs/tags/pcre2-10.47/testdata/testinput1
  - cscript "%APPVEYOR_BUILD_FOLDER%\test\pcretest.vbs" //nologo /ystrcmp:ystrcmp.exe "%APPVEYOR_BUILD_FOLDER%\test\testinput1" > "%APPVEYOR_BUILD_FOLDER%\test\pcretest.xml"
  - type "%APPVEYOR_BUILD_FOLDER%\test\pcretest.xml"
  - ps: |
      $wc = New-Object 'System.Net.WebClient'
      $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($Env:APPVEYOR_JOB_ID)", "$Env:APPVEYOR_BUILD_FOLDER\test\pcretest.xml")

for:
-
  matrix:
    only:
      - platform: x64

  test_script:
    - type "%APPVEYOR_BUILD_FOLDER%\test\yoritest.xml"
    - ps: |
        $wc = New-Object 'System.Net.WebClient'
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($Env:APPVEYOR_JOB_ID)", "$Env:APPVEYOR_BUILD_FOLDER\test\yoritest.xml")
    - bsdtar -xf "%APPVEYOR_BUILD_FOLDER%\yori-extra-amd64.cab" -C %WINDIR% ystrcmp.exe
    - C:/msys64/usr/bin/wget -nv -O "%APPVEYOR_BUILD_FOLDER%\test\testinput1" https://github.com/PCRE2Project/pcre2/raw/refs/tags/pcre2-10.47/testdata/testinput1
    - cscript "%APPVEYOR_BUILD_FOLDER%\test\pcretest.vbs" //nologo /ystrcmp:ystrcmp.exe "%APPVEYOR_BUILD_FOLDER%\test\testinput1" > "%APPVEYOR_BUILD_FOLDER%\test\pcretest.xml"
    - type "%APPVEYOR_BUILD_FOLDER%\test\pcretest.xml"
    - ps: |
        $wc = New-Object 'System.Net.WebClient'
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($Env:APPVEYOR_JOB_ID)", "$Env:APPVEYOR_BUILD_FOLDER\test\pcretest.xml")
    - bsdtar -xf "%APPVEYOR_BUILD_FOLDER%\yori-typical-amd64.cab" -C %WINDIR% timethis.exe
    - timethis -r C:/msys64/mingw32.exe oneyori -c ys "%APPVEYOR_BUILD_FOLDER%\test\my_regex_tests.cpp"
    - type "%APPVEYOR_BUILD_FOLDER%\test\my_regex_tests.xml"
    - ps: |
        $wc = New-Object 'System.Net.WebClient'
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($Env:APPVEYOR_JOB_ID)", "$Env:APPVEYOR_BUILD_FOLDER\test\my_regex_tests.xml")
    - timethis -r C:/msys64/mingw64.exe oneyori -c ys "%APPVEYOR_BUILD_FOLDER%\test\my_regex_tests.cpp"
    - type "%APPVEYOR_BUILD_FOLDER%\test\my_regex_tests.xml"
    - ps: |
        $wc = New-Object 'System.Net.WebClient'
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($Env:APPVEYOR_JOB_ID)", "$Env:APPVEYOR_BUILD_FOLDER\test\my_regex_tests.xml")

# https://stackoverflow.com/questions/3790454/how-do-i-break-a-string-in-yaml-over-multiple-lines
deploy:
  provider: GitHub
  tag: latest-$(APPVEYOR_REPO_BRANCH)
  description: |
    ### Web installers
    * [ysetup-x64.exe](https://github.com/datadiode/yori/releases/download/latest-$(APPVEYOR_REPO_BRANCH)/ysetup-x64.exe)
    * [ysetup-x86.exe](https://github.com/datadiode/yori/releases/download/latest-$(APPVEYOR_REPO_BRANCH)/ysetup-x86.exe)

    <sup>These installers pick up the latest release from this repository.</sup>

    ### Offline installers
    * [ysetup-$(VERSION)-x64.exe](https://github.com/datadiode/yori/releases/download/latest-$(APPVEYOR_REPO_BRANCH)/ysetup-$(VERSION)-x64.exe)
    * [ysetup-$(VERSION)-x86.exe](https://github.com/datadiode/yori/releases/download/latest-$(APPVEYOR_REPO_BRANCH)/ysetup-$(VERSION)-x86.exe)

    <sup>These are self-contained installers which won't go online during installation.</sup>

  prerelease: true
  skip_tags: true
  force_update: true
  on:
    branch:
      - master
      - stable
  auth_token:
    secure: Ff432aLyTjRB02PAo9YoH+iRttges/GD2mpfggEdsZ+oDFoeYYzu3Z52IzsH+E1y

artifacts:
  - path: pkg\out\pkglist.ini
  - path: yori-*.cab
  - path: ysetup-*.exe
  - path: ysetup-*.iso
