os: Visual Studio 2015

platform:
  - x86
  - x64

build_script:
  - ps: |
      $headers = @{ "Authorization" = "Bearer $Env:BearerToken"; "Content-type" = "application/json" }
      $project = Invoke-RestMethod -Method Get -Uri "$Env:APPVEYOR_URL/api/projects/$Env:APPVEYOR_ACCOUNT_NAME/$Env:APPVEYOR_PROJECT_SLUG" -Headers $headers
      New-Item ".\pkg\out" -ItemType Directory
      for ($i = 0; ($i -lt $project.build.jobs.length) -and ($Env:APPVEYOR_JOB_ID -ne $project.build.jobs[$i].jobId); $i++) {
        Write-host "Probing job $i for artifact pkglist.ini"
        $jobId = $project.build.jobs[$i].jobId
        try {
          Invoke-RestMethod -Method Get -Uri "https://ci.appveyor.com/api/buildjobs/$jobId/artifacts/pkg%2Fout%2Fpkglist.ini" -OutFile ".\pkg\out\pkglist.ini" -Headers $headers
        } catch { }
      }
  - if %PLATFORM:X=x%==x86 call "%VS90COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM:X=x%
  - if %PLATFORM:X=x%==x64 call "%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM:X=x%
  - C:/msys64/usr/bin/wget -nv -O %WINDIR%\bsdtar.exe "https://github.com/aspect-build/bsdtar-prebuilt/releases/download/v3.8.1-fix.1/tar_windows_x86_64.exe"
  - C:/msys64/usr/bin/wget -nv -O %TEMP%\perc-bin.zip "https://github.com/avih/perc/releases/download/v0.1/perc.v0.1.zip"
  - C:/msys64/usr/bin/wget -nv -O %TEMP%\yori-bin.zip "https://github.com/malxau/yori/files/15286801/yori-bin--2024-05-02-g106a280-msvc2015.zip"
  - bsdtar -xf %TEMP%\perc-bin.zip --strip-components=1 -C %WINDIR% *%PLATFORM:~-2%/perc.exe
  - bsdtar -xf %TEMP%\yori-bin.zip --strip-components=2 -C %WINDIR% */amd64/oneyori.exe */amd64/ymake.exe */amd64/ypm.exe
  - for /f %%v in ('git describe') do set VERSION=%%v
  - 'echo builtin alias -s ver=for x in ("Fork: github.com/%APPVEYOR_REPO_NAME%" "Fork version: %VERSION%" "Upstream: github.com/malxau/yori" .) do if builtin strcmp -- "x==." ; builtin ver $*$ ; builtin echo -- x >> sh\YoriInit.d\Typical.ys1'
  - cd "%APPVEYOR_BUILD_FOLDER%\pkg"
  - oneyori.exe /c bld.ys1 "%APPVEYOR_REPO_BRANCH:stable=official%" "%VERSION%-%APPVEYOR_REPO_BRANCH%"
  - for /d %%d in (out\*) do copy %%d\ysetup.exe "%APPVEYOR_BUILD_FOLDER%\ysetup-%PLATFORM:X=x%.exe"
  - for /d %%d in (out\*) do copy %%d\ysetup.exe "%APPVEYOR_BUILD_FOLDER%\ysetup-%VERSION%-%PLATFORM:X=x%.exe"
  - copy out\yori-*.cab "%APPVEYOR_BUILD_FOLDER%"
  - del out\yori-*-dbg-*.cab out\yori-one-*.cab out\yori-modular-*.cab
  - for %%x in (out\*.ini out\*.cab) do perc.exe -a %%x -t 10 -i @%%~nxx "%APPVEYOR_BUILD_FOLDER%\ysetup-%VERSION%-%PLATFORM:X=x%.exe"

deploy:
  provider: GitHub
  tag: latest-$(APPVEYOR_REPO_BRANCH)
  description: $(VERSION)
  prerelease: true
  skip_tags: true
  force_update: true
  auth_token:
    secure: Ff432aLyTjRB02PAo9YoH+iRttges/GD2mpfggEdsZ+oDFoeYYzu3Z52IzsH+E1y

artifacts:
  - path: pkg\out\pkglist.ini
  - path: yori-*.cab
  - path: ysetup-*.exe
